.box {
  width: 400px;
  height: 400px;
  background: #ff0000;
  margin: 0 auto;
}

.box2 {
  width: 300px;
  height: 300px;
  background: #ff0000;
  margin: 0 auto;
}

.flex-boxes1 {
  display: flex;
  justify-content: center;
}

.box-base {
  width: 300px;
  height: 300px;
}

.blue-box {
  background: #0008ff;
}

.green-box {
  background: #22ff00;
}

.red-box {
  background: #ff0000;
}

.orange-box {
  background: #ff8400;
}

.lightgreen-box {
  background: #00ff51;
  order: 0;
}

.yellow-box {
  background: #d4ff00;
  order: 0;

}

.pink-box {
  background: #ff00e1;
  order: 0;

}

.q3-1,
.q3-2 {
  margin-left: 150px;
}

.q3-1 {
  margin-left: 0;
}

/* ---------------------------------------- */


.floatboxes-inner{
  width: 600px;
  margin: 0 auto;
}

.q4-1,
.q4-2 {
  width: 300px;
  height: 300px;
  float: left;
}


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}



/* ---------------------------------------- */
.flexboxes{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.q5{
  position: relative;
}
.q5 p{
  position: absolute;
  left: 50%;
  top: 50%;
}
/* ---------------------------------------- */
.flex-boxes2{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.q6{
  position: relative;
}
.q6 p{
  position: absolute;
  top: 50%;
  left: 50%;
}

/* ---------------------------------------- */

.change-boxes{
  display: flex;
  justify-content: center;
}
.q7-1{
  display: block;
}
.q7-2{
  display: none;
}


@media screen and (max-width: 960px) {
  .box {
    width: 200px;
    height: 200px;
  }

  .box2 {
    background: #007bff;
  }

  .q3-2 {
    margin-left: 50px;
  }

  .floatboxes-inner{
    margin: 0;
  }

  .q4-1,
  .q4-2 {
    float: none;
  }

  .flexboxes{
    flex-direction: row-reverse;
  }
  .lightgreen-box {
    order: 1;
  }

  .yellow-box{
    order: 2;
  }

  .q7-1{
    display: none;
  }
  .q7-2{
    display: block;
  }

}