.box {
  width: 400px;
  height: 400px;
  background: #ff0000;
  margin: 0 auto;
}

.box2 {
  width: 300px;
  height: 300px;
  background: #ff0000;
  margin: 0 auto;
}

.flex-boxes1 {
  display: flex;
  justify-content: center;
}
.box-base {
  width: 300px;
  height: 300px;
}
.blue-box {
  background: #0008ff;
}
.green-box {
  background: #22ff00;
}
.red-box{
  background: #ff0000;
}
.orange-box{
  background: #ff8400;
}
.lightgreen-box {
  background: #00ff51;
}
.yellow-box {
  background: #d4ff00;
}
.pink-box {
  background: #ff00e1;
}

.q3-1,
.q3-2{
  margin-left: 150px;
}
.q3-1{
  margin-left: 0;
}


.floatboxes {
  position: relative;
}
.floatboxes-inner {
  position: relative;
  left: 50%;
  float: left;
}
.q4-1,
.q4-2 {
  position: relative;
  left: -50%;
  width: 300px;
  height: 300px;
  float: left;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.flex-boxes2 {
  display: flex;
  justify-content: center;
}
.center-base {
  position: relative;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
}

.blue-swicth {
  display: none;
}

@media screen and (max-width: 960px) {
  .box {
    width: 200px;
    height: 200px;
  }

  .box2 {
    background: #007bff;
  }

  .q3-2 {
    margin-left: 50px;
  }

  .q4-1,
  .q4-2 {
    position: unset;
    float: none;
    left: 0;
  }

  .floatboxes-inner {
    position: unset;
    left: 0;
    float: none;
  }

  .flex-boxes2 {
    flex-direction: row-reverse;
  }

  .q6-1 {
    order: 1;
  }
  .q6-2 {
    order: 2;
  }

  .blue-swicth {
    display: block;
  }

  .red-switch {
    display: none;
  }
}